
<div class="quiz-info">
<div class="timer">Time Left:</div>
<div class="quiz-table">

<h3>Available Quiz </h3>

<!-- <mat-table>

  
    <ng-container matColumnDef="seqNo">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let quiz">{{quiz.seqNo}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="questions">
        <mat-header-cell *matHeaderCellDef>Questions</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let quiz">{{quiz.questions}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="answers">
        <mat-header-cell *matHeaderCellDef>Select the correct answer</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let quiz">{{quiz.answer}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="quizColumns"></mat-header-row>
    
    <mat-row *matRowDef="let quiz; columns: quizColumns"></mat-row>
    
</mat-table> -->
</div>
</div>