.quiz-info{
  display: grid;
  grid-template-rows: auto 40%;
  place-items: center;
  font-size: 3rem;
  padding: 1rem;
  line-height: 3rem;
  color: #1a1717;
  background-color: rgb(211, 211, 211);
  height: 100%;


}
p{
  width: 70%;
  text-align: center;
}

button{
  font-size: 2rem;
  padding: 1rem;
  background: #222121;
  color: #fafafa;
  border: 0;
  box-shadow: 0 2px 5px 1px rgb(15, 15, 15);
  cursor: pointer;
}


  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  